<ion-header>
  <ion-toolbar>
    <div slot="start" class="header-home">
      <ion-icon [routerLink]="['/dashboard']" name="home-outline"></ion-icon>
    </div>
    <ion-searchbar class="custom matrimoney-searchbar" mode="ios" style="padding: 16px 0px;" clear-icon="close-outline"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="filter">
    <ion-grid>
      <ion-row>
        <ion-col size="2" size-lg="2" size-md="2">
          <ion-icon name="options-sharp"></ion-icon>
        </ion-col>
        <ion-col size="8" size-lg="8" size-md="8">
          <ion-segment value="{{isGroomBrideActive}}" (ionChange)="activeTab($event)">
            <ion-segment-button value="Groom">
              <ion-label>Groom</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Bride">
              <ion-label>Bride</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col size="2" size-lg="2" size-md="2">
          <ion-icon name="swap-vertical-sharp"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>




  <ion-grid class="catlog-container groom" *ngIf="isGroomBrideActive === 'Bride'">
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4">
        <ion-card class="ion-no-margin">
          <img src="../../../../assets/images/vadhu-2.png">
          <ion-card-content>
            <h5>Radhey Vyas, <span>#1</span></h5>
            <p><ion-icon name="school-sharp"></ion-icon> MBA, 5.7 Ft</p>
            <p class="location"><ion-icon name="location-sharp"></ion-icon> Bikaner, Rajasthan</p>
            <div>
              <ion-button expand="full" size="small">
             View
            </ion-button>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-lg="3" size-md="4">
        <ion-card class="ion-no-margin">
          <img src="../../../../assets/images/vadhu-2.png">
          <ion-card-content>
            <h5>Bhanu Priya Purohit, <span>#2</span></h5>
            <p><ion-icon name="school-sharp"></ion-icon> B.tech, 5.3 Ft</p>
            <p class="location"><ion-icon name="location-sharp"></ion-icon> Bikaner, Rajasthan</p>
            <div>
              <ion-button expand="full" size="small">
             View
            </ion-button>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="catlog-container bride" *ngIf="isGroomBrideActive === 'Groom'">
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4">
        <ion-card class="ion-no-margin">
          <img src="../../../../assets/images/var-2.png">
          <ion-card-content>
            <h5>Ashwani Purohit, <span>#1</span></h5>
            <p><ion-icon name="school-sharp"></ion-icon> BCA, 5.7 Ft</p>
            <p class="location"><ion-icon name="location-sharp"></ion-icon> Bikaner, Rajasthan</p>
            <div>
              <ion-button expand="full" size="small">
             View
            </ion-button>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-lg="3" size-md="4">
        <ion-card class="ion-no-margin">
          <img src="../../../../assets/images/var-2.png">
          <ion-card-content>
            <h5>Suresh Vyas, <span>#2</span></h5>
            <p><ion-icon name="school-sharp"></ion-icon> B.com, 5.3 Ft</p>
            <p class="location"><ion-icon name="location-sharp"></ion-icon> Bikaner, Rajasthan</p>
            <div>
              <ion-button expand="full" size="small">
             View
            </ion-button>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>