ion-tabs, ion-tab-bar {
    background: linear-gradient(-45deg, rgba(253,119,29,1), rgba(255,181,2,1), rgba(253,119,29,1), rgba(255,181,2,1));
    --background: linear-gradient(-45deg, rgba(253,119,29,1), rgba(255,181,2,1), rgba(253,119,29,1), rgba(255,181,2,1));
    color: #fff;
    --color: #fff;
  }

  ion-tab-button {
    color: #fff;
    --color: #fff;
  }