<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goHome()" translate>
      <ion-icon name="home-sharp"></ion-icon>
      footer.home
    </ion-tab-button>
    <ion-tab-button (click)="workInProgress()" translate>
      <ion-icon name="people-sharp"></ion-icon>
      footer.members
    </ion-tab-button>
    <ion-tab-button  (click)="workInProgress()" translate>
      <ion-icon name="help-buoy-sharp"></ion-icon>
      footer.organizations
    </ion-tab-button>
    <ion-tab-button (click)="openMenu()" translate>
      <ion-icon name="menu-sharp"></ion-icon>
      footer.menu
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>