<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goHome()">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button (click)="workInProgress()">
      <ion-icon name="people-outline"></ion-icon>
      Members
    </ion-tab-button>
    <ion-tab-button  (click)="workInProgress()">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      Social
    </ion-tab-button>
    <ion-tab-button (click)="openMenu()">
      <ion-icon name="menu-outline"></ion-icon>
      Menu
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>