
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    ion-img {
        max-width: 40px;
    }
    ion-text {
        padding-left: 15px;
        color: #cd9f1c;
        font-weight: 600;
    }
}

ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#example-modal ion-icon {
    margin-right: 6px;
  
    width: 48px;
    height: 48px;
  
    padding: 4px 0;
  
    color: #aaaaaa;
  }
  
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }
   
  ion-grid, ion-col, ion-searchbar {
    padding: 0px;
  }

  ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .wrapper {
    padding: 0px 15px !important;
    ion-radio {
        display: flex;
    }
  }

  .ion-page {
    justify-content: flex-start !important;
  }


