<ion-header class="dashborad-header matrimoney-searchbar">
  <ion-toolbar>
    <!-- <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="9" class="logo-text"></ion-col>
    </ion-row> -->
    <!-- <div class="header-content">
      <ion-img src="./assets/images/logo.png"></ion-img>
      <ion-text>WELCOME</ion-text>
    </div> -->
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    

    <ion-grid>
      <ion-row>
        <!-- <ion-col size="12" size="2">
          <ion-img class="logo" src="./assets/images/logo.png"></ion-img>
        </ion-col> -->
        <ion-col size="12" size="10">
          <ion-searchbar></ion-searchbar>
        </ion-col>
        <ion-col size="12" size="1">
          <div>
            <ion-icon (click)="getGeoLocation()" name="location-sharp"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="12" size="1">
          <div>
            <ion-icon (click)="setOpen(true)" expand="block" name="language-sharp"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-padding"> -->
  

  <!-- <ion-modal id="example-modal" #modal trigger="open-custom-dialog"> -->
    <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <!-- <ion-buttons slot="start">
            <ion-button (click)="setOpen(false)">Cancle</ion-button>
          </ion-buttons> -->
          <ion-title translate>header.languagetitle</ion-title>
          <!-- <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Apply</ion-button>
          </ion-buttons> -->
        </ion-toolbar>
      </ion-header>
      <div class="wrapper">
        <!-- <h5>Select Language</h5> -->
        <!-- <ion-list lines="none">
          <ion-item button="true" detail="false" (click)="modal.dismiss()">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Item 1</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="modal.dismiss()">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Item 2</ion-label>
          </ion-item>
        </ion-list> -->
        <!-- <ion-item>
          <ion-select>
            <ion-select-option value="en">English</ion-select-option>
            <ion-select-option value="hi">हिंदी </ion-select-option>
          </ion-select>
        </ion-item> -->
        <ion-radio-group [(ngModel)]="lan">
          <ion-radio value="hi" aria-label="Custom checkbox">हिंदी</ion-radio> <br />
          <ion-radio value="en" aria-label="Custom checkbox that is checked">English</ion-radio>
        </ion-radio-group>
        <ion-button expand="full" (click)="setOpen(false)" class="lan-apply" (click)="onLanguageChange()">Apply</ion-button>
      </div>
    </ng-template>
  </ion-modal>
<!-- </ion-content> -->