ion-header, ion-toolbar {
  //background: linear-gradient(-45deg, rgba(253,119,29,1), rgba(255,181,2,1), rgba(253,119,29,1), rgba(255,181,2,1));
 // --background: linear-gradient(-45deg, rgba(253,119,29,1), rgba(255,181,2,1), rgba(253,119,29,1), rgba(255,181,2,1));
  background: linear-gradient(to top, #ffb502, #ffa603, #ff970b, #ff8714, #fd771d);
  --background: linear-gradient(to top, #ffb502, #ffa603, #ff970b, #ff8714, #fd771d);
  color: #fff;
}



.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    ion-img {
        max-width: 40px;
    }
    ion-text {
        padding-left: 15px;
        color: #cd9f1c;
        font-weight: 600;
    }
}

ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal#example-modal ion-icon {
    margin-right: 6px;
  
    width: 48px;
    height: 48px;
  
    padding: 4px 0;
  
    color: #aaaaaa;
  }
  
  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }
   
  ion-grid, ion-col, ion-searchbar {
    padding: 0px;
  }

  ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .wrapper {
    padding: 0px 15px !important;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    ion-radio {
        display: flex;
    }
  }

  .lan-apply {
    --background: linear-gradient(-45deg, rgba(253,119,29,1), rgba(255,181,2,1), rgba(253,119,29,1), rgba(255,181,2,1));
    margin-top: 20px;
  }

  .logo {
    padding: 10px;
  }