<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item-group>
            <ion-item-divider>
              <ion-label>Profile</ion-label>
            </ion-item-divider>

            <ion-grid>
              <ion-row>
                <ion-col>Name</ion-col>
                <ion-col>Ashwani</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Email</ion-col>
                <ion-col>Ashwani@gmail.com</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Gender</ion-col>
                <ion-col>Male</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>DOB</ion-col>
                <ion-col>11/29/1993</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Hometown</ion-col>
                <ion-col>Bikaner</ion-col>
              </ion-row>
              </ion-grid>
            
            <!-- <ion-item>
              <ion-label>Angola</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Argentina</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Armenia</ion-label>
            </ion-item> -->
          </ion-item-group>
          
          <ion-item-group>
            <ion-item-divider>
              <ion-label>Device</ion-label>
            </ion-item-divider>
          
            <ion-grid>
              <ion-row>
                <ion-col>Model</ion-col>
                <ion-col>moto g(40) fusion</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Operating System</ion-col>
                <ion-col>android</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>OS Version</ion-col>
                <ion-col>12</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Manufacturer</ion-col>
                <ion-col>motorola</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Battery Level</ion-col>
                <ion-col>41%</ion-col>
              </ion-row>
              </ion-grid>
          </ion-item-group>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>