<ion-header class="ion-no-border">
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home" text=""></ion-back-button>
    Profile & Setting
  </ion-buttons>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="align-center">
        <div>
          <ion-avatar>
            <img *ngIf="userData && userData.picture && userData.picture.data && userData.picture.data.url" alt="Silhouette of a person's head" src="{{userData.picture.data.url}}" />
            <img *ngIf="!userData" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <img *ngIf="userData && !userData.picture" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <img *ngIf="userData && userData.picture && !userData.picture.data" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <img *ngIf="userData && userData.picture && userData.picture.data && !userData.picture.data.url" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-item-group>
            <ion-item-divider>
              <ion-label>Profile</ion-label>
            </ion-item-divider>

            <ion-grid>
              <ion-row>
                <ion-col>Name</ion-col>
                <ion-col *ngIf="userData && userData.name">{{userData.name}}</ion-col>
                <ion-col *ngIf="!userData">-</ion-col>
                <ion-col *ngIf="userData && !userData.name">-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Email</ion-col>
                <ion-col *ngIf="userData && userData.email">{{userData.email}}</ion-col>
                <ion-col *ngIf="!userData">-</ion-col>
                <ion-col *ngIf="userData && !userData.email">-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Gender</ion-col>
                <ion-col *ngIf="userData && userData.gender">{{userData.gender}}</ion-col>
                <ion-col *ngIf="!userData">-</ion-col>
                <ion-col *ngIf="userData && !userData.gender">-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>DOB</ion-col>
                <ion-col *ngIf="userData && userData.birthday">{{userData.birthday}}</ion-col>
                <ion-col *ngIf="!userData">-</ion-col>
                <ion-col *ngIf="userData && !userData.birthday">-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Hometown</ion-col>
                <ion-col *ngIf="userData && userData.hometown && userData.hometown.name">{{userData.hometown.name}}</ion-col>
                <ion-col *ngIf="!userData">-</ion-col>
                <ion-col *ngIf="userData && !userData.hometown">-</ion-col>
                <ion-col *ngIf="userData && userData.hometown && !userData.hometown.name">-</ion-col>
              </ion-row>
              </ion-grid>
            
            <!-- <ion-item>
              <ion-label>Angola</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Argentina</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Armenia</ion-label>
            </ion-item>
          
              {
                  "model": "iPhone",
                  "platform": "web",
                  "operatingSystem": "ios",
                  "osVersion": "13.2.3",
                  "manufacturer": "Google Inc.",
                  "isVirtual": false
              }
          -->
          </ion-item-group>
          
          <ion-item-group>
            <ion-item-divider>
              <ion-label>Device</ion-label>
            </ion-item-divider>
          
            <ion-grid>
              <ion-row>
                <ion-col>Model</ion-col>
                <ion-col *ngIf="deviceInfo && deviceInfo.model">{{deviceInfo.model}}</ion-col>
                <ion-col *ngIf="!deviceInfo">-</ion-col>
                <ion-col *ngIf="deviceInfo && !deviceInfo.model">-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Operating System</ion-col>
                <ion-col *ngIf="deviceInfo && deviceInfo.operatingSystem">{{deviceInfo.operatingSystem}}</ion-col>
                <ion-col *ngIf="!deviceInfo">-</ion-col>
                <ion-col *ngIf="deviceInfo && !deviceInfo.operatingSystem">-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>OS Version</ion-col>
                <ion-col *ngIf="deviceInfo && deviceInfo.osVersion">{{deviceInfo.osVersion}}</ion-col>
                <ion-col *ngIf="!deviceInfo">-</ion-col>
                <ion-col *ngIf="deviceInfo && !deviceInfo.osVersion">-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Manufacturer</ion-col>
                <ion-col *ngIf="deviceInfo && deviceInfo.manufacturer">{{deviceInfo.manufacturer}}</ion-col>
                <ion-col *ngIf="!deviceInfo">-</ion-col>
                <ion-col *ngIf="deviceInfo && !deviceInfo.manufacturer">-</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Battery Level</ion-col>
                <ion-col *ngIf="batteryInfo && batteryInfo.batteryLevel">{{batteryInfo.batteryLevel}} %</ion-col>
                <ion-col *ngIf="!batteryInfo">-</ion-col>
                <ion-col *ngIf="batteryInfo && !batteryInfo.batteryLevel">-</ion-col>
              </ion-row>
              </ion-grid>
          </ion-item-group>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>