<ion-accordion-group>
  <ion-accordion value="first" toggleIcon="chevron-forward-outline" [readonly]="true">
    <ion-item slot="header" color="transparent">
      <button>Profile & Setting</button>
    </ion-item>
  </ion-accordion>
  <ion-accordion value="second" toggleIcon="chevron-forward-outline" [readonly]="true">
    <ion-item slot="header" color="transparent">
      <button>Contact Us</button>
    </ion-item>
  </ion-accordion>
  <ion-accordion value="third" toggleIcon="chevron-forward-outline" [readonly]="true">
    <ion-item slot="header" color="transparent">
      <button>About Us</button>
    </ion-item>
  </ion-accordion>
  <ion-accordion value="forth" toggleIcon="chevron-forward-outline">
    <ion-item slot="header" color="transparent">
      <button [routerLink]="['/login']">Logout</button>
    </ion-item>
  </ion-accordion>
</ion-accordion-group>

<ion-text>Screenshot</ion-text>
<ion-segment value="custom">
  <ion-segment-button value="on" (click)="enableScreen()">
    <ion-label>On</ion-label>
  </ion-segment-button>
  <ion-segment-button value="off" (click)="disableScreen()">
    <ion-label>Off</ion-label>
  </ion-segment-button>
</ion-segment>