

ion-header {
    background: linear-gradient(-45deg, rgba(253,119,29,1), rgba(255,181,2,1), rgba(253,119,29,1), rgba(255,181,2,1));
    ion-back-button {
        color: #fff;
        --ion-color-primary: #fff !important;
    }
    ion-buttons {
       // background-color: #ffb502;
        padding: 10px 5px;
        color: #fff;
        --ion-text-color: #fff;
    }
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}



ion-content {
    background-color: #fff;
    --ion-background-color: #fff !important;
    color: #000;
    --ion-text-color: #000000;
}

  /* iOS places the subtitle above the title */
  ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

  ion-card, ion-item {
    background: #fff;
    --background: #fff;
  }

  .address {
    text-transform: capitalize;
  }

  ion-icon {
    font-size: 21px;
  }