<ion-header class="ion-no-border">
  <ion-buttons slot="start" translate>
    <ion-back-button defaultHref="home" text=""></ion-back-button>
    contactPage.title
  </ion-buttons>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <div class="contact-detail">
        <h1 class="section-title">Contact us</h1>

        <ion-grid>
          <ion-row>
            <ion-col size="2"><ion-icon name="location-sharp"></ion-icon> </ion-col>
            <ion-col size="10"><div class="address">Petunia-409, Manglam Ananda Phase-1, Sanganer, Jaipur, Rajasthan 302029, India</div></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2"> <ion-icon name="logo-whatsapp"></ion-icon></ion-col>
            <ion-col size="10"><a href="tel:08510004495"><b>+91 7615972111</b></a></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2"><ion-icon name="mail-sharp"></ion-icon></ion-col>
            <ion-col size="10"><a href="mailto:pardeepkumar4bjp@gmail.com"><b> prohitashwani@gmail.com</b></a></ion-col>
          </ion-row>
        </ion-grid>

        <!-- <ion-list lines="none">
          <ion-item>
            <ion-icon name="location-sharp"></ion-icon> 
            <div class="address">Petunia-409, Manglam Ananda Phase-1, Sanganer, Jaipur, Rajasthan 302029, India</div>
          </ion-item>
          <ion-item>
            <ion-icon name="logo-whatsapp"></ion-icon>
            <a href="tel:08510004495"><b>+91 7615972111</b></a>
          </ion-item>
          <ion-item>
            <ion-icon name="mail-sharp"></ion-icon>
            <a href="mailto:pardeepkumar4bjp@gmail.com"><b> prohitashwani@gmail.com</b></a>
          </ion-item>
        </ion-list> -->
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>