<ion-content [fullscreen]="true" class="ion-no-border">
      <div class="content-holder">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="splash-logo-holder">
                <ion-img class="splash-logo kenburns-bottom" src="./assets/images/splash/splash-logo.png"></ion-img>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="waviy">
                <span style="--i:1">P</span>
                <span style="--i:2">U</span>
                <span style="--i:3">S</span>
                <span style="--i:4">H</span>
                <span style="--i:5">K</span>
                <span style="--i:6">A</span>
                <span style="--i:7">R</span>
                <span style="--i:8">N</span>
                <span style="--i:9">A</span>
                <span style="--i:10">.</span>
                <span style="--i:11">.</span>
                <span style="--i:12">.</span>
               </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
</ion-content>
<!-- <ion-footer>
    <p class="splash-form-footer">By</p>
    <p>Ashwani</p>
</ion-footer> -->