<ion-header class="ion-no-border">
  <ion-buttons slot="start" translate>
    <ion-back-button defaultHref="home" text=""></ion-back-button>
    aboutPage.title
  </ion-buttons>
</ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-content translate>
        aboutPage.about
      </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-header>
        <ion-card-title>Our Team Members</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="profile pic" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-thumbnail>
            <ion-label>Ashwani Purohit</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="profile pic" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-thumbnail>
            <ion-label>Suresh Vyas</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="profile pic" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-thumbnail>
            <ion-label>Shekar Acharya</ion-label>
          </ion-item>
    
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="profile pic" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-thumbnail>
            <ion-label>Giriraj Purohit</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>


  </ion-content>