.das-all {
    button {
        padding: 10px;
        background: transparent;
    }
    ion-label {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

ion-avatar{
    padding: 10px;
}

ion-title {
    font-size: 14px;
    font-weight: 500;
    left: -10%;
}
