<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <swiper-container [slidesPerView]="1" [loop]="true" [autoplay]="true">
      <swiper-slide>
        <ion-card>
          <!-- <img alt="Silhouette of mountains" src="./assets/images/pushkarna.jpg" /> -->
          <ion-card-header>
            <ion-card-title>Pushkarna Mahakumbh</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Bikaner city me sabhi pushkarna samaj ko nai disha dene ke liye maha khumb ka ayojan kiya.
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <!-- <img alt="Silhouette of mountains" src="./assets/images/pushkarna.jpg" /> -->
          <ion-card-header>
            <ion-card-title>Pushkarna Mahakumbh</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Bikaner city me sabhi pushkarna samaj ko nai disha dene ke liye maha khumb ka ayojan kiya.
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <!-- <img alt="Silhouette of mountains" src="./assets/images/pushkarna.jpg" /> -->
          <ion-card-header>
            <ion-card-title>Pushkarna Mahakumbh</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Bikaner city me sabhi pushkarna samaj ko nai disha dene ke liye maha khumb ka ayojan kiya.
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </ion-content>
</div>