.das-all {
    button {
        padding: 10px;
        background: transparent;
    }
    ion-label {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

app-footer {
    width: 100%;
    min-height: 50px;
    position: relative;
}


