<ion-menu contentId="main-content">
  <app-side-menu-header></app-side-menu-header>
  <ion-content class="ion-padding" class="ion-content">
    <app-side-menu></app-side-menu>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <app-header></app-header>
  <ion-content class="ion-padding">
    <ion-row class="ion-no-pedding das-all">
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/devotional-list']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/yajna.png" />
        </button>
        <ion-label translate>dashboard.devotional</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/healthcare.png" />
        </button>
        <ion-label translate>dashboard.health</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/education.png" />
        </button>
        <ion-label translate>dashboard.education</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/donation.png" />
        </button>
        <ion-label translate>dashboard.donation</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-pedding das-all">
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/job.png" />
        </button>
        <ion-label translate>dashboard.jobs</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/newspaper.png" />
        </button>
        <ion-label translate>dashboard.news</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/matrimony-list']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/wedding.png" />
        </button>
        <ion-label translate>dashboard.matrimony</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/events.png" />
        </button>
        <ion-label translate>dashboard.events</ion-label>
      </ion-col>
    </ion-row>

    <swiper-container [slidesPerView]="2" [loop]="true" [autoplay]="true">
      <swiper-slide>
        <ion-card>
          <img alt="Silhouette of mountains" src="./assets/images/pushkarna.jpg" />
          <!-- <ion-card-header>
            <ion-card-title>Pushkarna Mahakumbh</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Bikaner city me sabhi pushkarna samaj ko nai disha dene ke liye maha khumb ka ayojan kiya.
          </ion-card-content> -->
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <img alt="Silhouette of mountains" src="./assets/images/pushkarna.jpg" />
          <!-- <ion-card-header>
            <ion-card-title>Pushkarna Mahakumbh</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Bikaner city me sabhi pushkarna samaj ko nai disha dene ke liye maha khumb ka ayojan kiya.
          </ion-card-content> -->
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <img alt="Silhouette of mountains" src="./assets/images/pushkarna.jpg" />
          <!-- <ion-card-header>
            <ion-card-title>Pushkarna Mahakumbh</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Bikaner city me sabhi pushkarna samaj ko nai disha dene ke liye maha khumb ka ayojan kiya.
          </ion-card-content> -->
        </ion-card>
      </swiper-slide>
    </swiper-container>

    <ion-row class="ion-no-pedding das-all">
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/elections.png" />
        </button>
        <ion-label translate>dashboard.elections</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/running.png" />
        </button>
        <ion-label translate>dashboard.sports</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/checklist.png" />
        </button>
        <ion-label translate>dashboard.apply</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/quiz.png" />
        </button>
        <ion-label translate>dashboard.quizes</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-pedding das-all">
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/nri.png" />
        </button>
        <ion-label translate>dashboard.nri</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/pbs.png" />
        </button>
        <ion-label translate>dashboard.psb</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/art.png" />
        </button>
        <ion-label translate>dashboard.art</ion-label>
      </ion-col>
      <ion-col size="3" class="ion-no-pedding"> 
        <button [routerLink]="['/work-in-progress']"> 
          <img alt="Silhouette of mountains" src="./assets/icon/celb.png" />
        </button>
        <ion-label translate>dashboard.celb</ion-label>
      </ion-col>
    </ion-row>

  </ion-content>
  <app-footer></app-footer>
</div>